:root{
  --primary-1: #CDA274;
  --primary-2: #292F36;
  --primary-3: #F4F0EC;
  --primary-4: #4D5053;
}

body {
  background-color: var(--primary-3);
}
.img {

   border-bottom-left-radius: 150px;
}
h1 {
color: var(--primary-2);
}
p {
  color: var(--primary-4);
}
.aboutimg {
  margin-top: 2rem;
}